<link href="https://webcore.unm.edu/v1/css/styles.php" media="screen" rel="stylesheet" 			type="text/css" />

<%= image_tag image_url('unm-logo.gif') %>
<h1 style="margin-left:5em">Research-Match@UNM</h1>
<br />
<h3>Hello <%= @researcher.first_name %>,</h3>
<br>
<b>Thank you for signing up for the UNM Research Match database. The system is now fully operational! We have updated and simplified the forms. Please submit your research project online at our website, http://research-match.unm.edu/. The step by step instruction guide is attached (or can be found on the website by clicking "how it works". If you have any questions, please contact us at <a href="mailto:researchmatch@unm.edu?Subject=Question About Research Matching System." target="_top">researchmatch@unm.edu</a>.</p> </b>

<br />
<h4>Have a nice day,<br>
The UNM Research-Match System.</h4>
<br />
<br>
<br>
<%= image_tag image_url('researcher_instructions.jpg') %>



