<link href="https://webcore.unm.edu/v1/css/styles.php" media="screen" rel="stylesheet" 			type="text/css" />

<%= image_tag image_url('unm-logo.gif') %>
<h1 style="margin-left:5em">ResearchMatch@UNM</h1>
<br />
<h3>Hello <%= @researcher.first_name %>,</h3>
<br>
<h4>Thank you for signing up for UNM Research Match a few months ago. The system is now fully operational! We have updated and simplified the process. Please login in and submit your research project online at http://research-match@unm.edu. The step by step instruction guide is below. If you have any questions, please contact us at <a href="mailto:researchmatch@unm.edu?Subject=Question About Research Matching System." target="_top">researchmatch@unm.edu</a>.</h4>

<br />
<br />
<br>
<br>
<%= image_tag image_url('researcher_instructions.gif') %>
<br>
<br>
<h4>Have a nice day,<br>
The UNM Research-Match Team.</h4>