/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

#lcell {
  float: left;
  width: 29%; }

#rcell {
  width: 71%;
  float: right; }

#row {
  margin-top: 42px; }
#projectForm, #gradForm {
  display: none; }

#positionForm {
  display: none; }

.button {
  display: table-cell;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  width: 30px; }
.textArea {
  width: 219px;
  height: 50px; }

.gpaField {
  width: 35px; }

#projectWrap {
  width: 675px;
  margin: 0 auto; }

#projectMain {
  float: left;
  width: 175px;
  padding-left: 0px; }

#projectSidebar {
  float: right;
  width: 500px; }

#projectLeft {
  float: left;
  width: 150px;
  padding-left: 30px; }

#projectRight {
  float: right;
  width: 250px; }

#projectBottom {
  clear: both;
  padding-left: 0px; }

#projectBaja {
  clear: both;
  width: 675px; }

#volunteerPostion {
  float: left;
  width: 300px; }

#workPosition {
  float: right;
  width: 325px; }

#editProjectSurvey {
  width: 575px;
  margin: 0 auto;
  margin-left: 30px; }

.button_to {
  width: 650px; }

.projectDesc {
  width: 83.8%;
  height: 100px; }

#editProjectSidebar {
  float: right;
  margin-left: 100px; }

input[type="checkbox"] {
  display: inline-block;
  margin: -1px 0px 0px 0;
  vertical-align: middle; }

input[type="radio"] {
  display: inline-block;
  margin: -1px 0px 0px 0;
  vertical-align: middle; }

#positionBox {
  padding-left: 30px; }
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
body,
html {
  margin: 0;
  padding: 0;
  color: #000; }

#wrap {
  width: 650px;
  margin: 0 auto; }

#main {
  float: left;
  width: 50%; }

#sidebar {
  float: right;
  width: 50%; }

#left {
  float: left;
  width: 265px;
  padding-left: 30px; }

#right {
  float: left;
  width: 250px; }

#bottom {
  width: 650px;
  clear: both; }

.textField {
  width: 219px; }

#lowerBottom {
  clear: both; }

#paidGrad, #paidUnderGrad,
#postdoc, #unpaidGrad, #unpaidUnderGrad {
  float: left;
  display: none;
  #border-left: solid;
  #border-color: gray;
  #border-width: 2px;
  margin-right: 20px; }

#content {
  opacity: 0; }

#baja {
  clear: both;
  padding: 40px;
  padding-left: 35px; }
