<div id="steps_box" >
<h1 id="steps_h1">Professors/Researchers</h1>
<span style="font-size:large;">This research matching system helps you find a qualified student to work on your research project. You set the parameters of communication and  matching criteria. The system looks for students who match your criteria.  Depending on your communication settings, you will either contact students, or they will contact you.  </span>

<%= image_tag("researcher_steps.png") %>

	<ul style="font-size:large;">
		<li class="red_text"><b><span class="red_text">Step 1:</span></b> <span class="black"><b>Create your profile.</b> <%= link_to "Sign up",new_research_user_registration_path %> for an account. *Be sure to use your UNM email address.</span></li>
		<br>
		<li class="red_text"><b><span class="red_text">Step 2:</span></b> <span class="black"><b>Submit your research project.</b> The system will walk you through the process.<div id="indent">  You will specify the matching criteria and whether or not you'd like to be contacted by students.</span></div></li>
		<br>
		<li class="red_text"><b><span class="red_text">Step 3:</span></b> <span class="black"><b>Students will be matched to your project.</b> The System will send you an email with <div id ="indent">the information of students who matched to your project.<div></span></li>
		<br>
		<li class="red_text"><b><span class="red_text">Step 4:</span> </b><span class="black"><b>Contact or be contacted by matched students. </b>You will determine the <div id = "indent"> communication method when you submit your research project.</div></span></li>

	</uL>
</div>