<div id="steps_box" >
<h1 id="steps_h1">Students</h1>
<span style="font-size:large;">This research matching system helps you find opportunities to work with researchers at UNM. The system will match you to research projects based on your interests.  </span>

<%= image_tag("student_steps.png") %>

	<ul style="font-size:large;">
		<li class="red_text"><b><span class="red_text">Step 1:</span></b> <span class="black"><b>Create your profile.</b> <%= link_to "Sign up", new_user_registration_path %> for an account, then create a profile. </span></li>
		<br>
		<li class="red_text"><b><span class="red_text">Step 2:</span></b> <span class="black"><b>You will be matched to possible projects.</b> The system will match your <div id = "indent">research interests to available research opportunities.</div></li>
		<br>
		<li class="red_text"><b><span class="red_text">Step 3:</span></b> <span class="black"><b>Contact or be contacted by researcher.</b> The System will send you an email when <div id ="indent"> your profile has been matched to a project.  You may be asked to contact hiring researchers.  If not, the researchers will contact you if they are interested in hiring you. <div></span></li>
		<br>
		<li class="red_text"><b><span class="red_text">Step 4:</span> </b><span class="black"><b>Start your research career. </b></li>

	</uL>
</div>