<link href="https://webcore.unm.edu/v1/css/styles.php" media="screen" rel="stylesheet" 			type="text/css" />

<% if @first_name != "" %>
	<%= image_tag image_url('unm-logo.gif') %>
	<h1 style="margin-left:5em">ResearchMatch@UNM</h1>
	<br>
	<br>
	<h4>Dear <%= @first_name %>,<br>
		Welcome back to the Fall 2014 semester! Don’t forget to update your Research-Match profile to reflect your current standing and skills. Be sure to the review “Research Interest Keywords” in your profile. To increase chances of a successful match, we recommend that you read the descriptions and keywords of current projects. The more keywords you provide, the more likely you are to match to a project.  <a href="http://http://research-match.unm.edu">Click here</a> to update your profile. If you have any questions, please contact us at  <a href="mailto:researchmatch@unm.edu?Subject=Question About Research Matching System." target="_top">ResearchMatch@unm.edu</a>.</h4>
		<br>
		<h4>Sincerely,<br>
		The UNM Research-Match Team</h4>


<% else %>
	<%= image_tag image_url('unm-logo.gif') %>
	<h1 style="margin-left:5em">ResearchMatch@UNM</h1>
	<br />
	<h4>Dear @user.email,<br>
		Welcome back to the Fall 2014 semester! We noticed that you signed up for a Research-Match account, but have not created profile yet. The system needs your profile to match you to available research positions. When you create your profile, you will be asked to provide keywords for your research interests. To increase your chances for a successful match, we recommend that you read the descriptions and keywords of current projects. You can then <a href="http://http://research-match.unm.edu">Click here</a> to log in and complete your profile. If you have any questions, please contact us at <a href="mailto:researchmatch@unm.edu?Subject=Question About Research Matching System." target="_top">ResearchMatch@unm.edu</a>.</h4>
		<br>
		<h4>Sincerely,<br>
		The UNM Research-Match Team</h4>

<% end %>

