<link href="https://webcore.unm.edu/v1/css/styles.php" media="screen" rel="stylesheet" 			type="text/css" />

<% if @first_name != "" %>
	<%= image_tag image_url('unm-logo.gif') %>
	<h1 style="margin-left:5em">ResearchMatch@UNM</h1>
	<br />
	<h3>Hello <%= @first_name %>,</h3>
	<br>

	<h4>Welcome Back!  Good luck with the upcoming semester.  Don't forget to update your Research-Match profile to reflect your current standing and skills.  <a href="http://http://research-match.unm.edu/">Click here to log on.</a>   If you have any questions, please contact us at <a href="mailto:researchmatch@unm.edu?Subject=Question About Research Matching System." target="_top">researchmatch@unm.edu</a>.</h4>

	<br />
	<br />
	<br>
	<h4>Have a nice day,<br>
	The UNM Research-Match Team.</h4>
<% else %>
	<%= image_tag image_url('unm-logo.gif') %>
	<h1 style="margin-left:5em">ResearchMatch@UNM</h1>
	<br />
	<h3>Welcome Back!</h3>
	<br>

	<h4>We noticed that you signed up for an account for Research-Match but didn't create a profile.  For the system to work you need a profile.   <a href="http://http://research-match.unm.edu/">Click here to log in.</a>  If you've forgotten your password don't worry, you can recover it.</h4>

	<br />
	<br />
	<br>
	<h4>Have a nice day,<br>
	The UNM Research-Match Team.</h4>
<% end %>

