// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.disabled_project
{
	opacity:0.5;
	background-color:#F8F8F0;
}
.hidden
{
	display:none;
}

#lcell
{
	float:left;
	width:29%;
}

#rcell
{
	width:71%;
	float:right;
}

#row
{
	margin-top:42px;
}

#howItWorks
{
	margin-top:1em;
	margin-left:2em;
	display:none;
}

a#dead_link
{
	margin-left:2em;
	background:none;
	
}

#steps_box
{
	border-style:solid;
	border-color:#b80030;
	margin:1em;
	padding:15px;
	border-width:10px;
}

#steps_h1
{
	text-align:center;
	font-size:250%;
}

#indent
{
	padding-left:78px;
}

.red_text
{
	color:#b80030;
}

#red_text_bold
{
	color:#b80030;
	font-weight:bold;
}

.black
{
	color:black;
}





