// Place all the styles related to the matched_students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.matched_student
{
	opacity:0.5;
	background-color:#F8F8F0;
}

.undo_reject_td
{
	display:none;
}

.hire_undo_td
{
	display:none;
}

.last_td
{
	display:none;
}