// Place all the styles related to the ProjectSurveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.textArea
{
	width:219px;
	height:50px;
}
#projectWrap 
{
  width:675px;
  margin:0 auto;
 // background:#99c;
}
#projectMain 
{
	//background:#9c9;
	float:left;
	width:175px;
	padding-left:0px;
}
 
#projectSidebar 
{
	//background:#c9c;
	float:right;
	width:500px;
}

#projectLeft 
{
	//background:#9c9;
	float:left;
	width:150px;
	padding-left:30px;
}
 
#projectRight 
{
	//background:#c9c;
	float:right;
	width:250px;
	
}

#projectBottom 
{
	//width:300px;
	//margin: 0 auto;
	//background:#000
	clear:both;
	padding-left:0px;
}

#projectBaja 
{
	//width:300px;
	//margin: 0 auto;
	//background:#000
	clear:both;
	width:675px;
}

#volunteerPostion 
{
	//background:#9c9;
	float:left;
	width:300px;
}
 
#workPosition 
{
	//background:#c9c;
	float:right;
	width:325px;
}

#editProjectSurvey
{
	width:575px;
  margin:0 auto;
  //display:none;
  margin-left:30px;
  
}
 .button_to
{
		width:650px;

}

.projectDesc
{
	width:83.8%;
	height:100px;
}


#editProjectSidebar 
{
	//background:#c9c;
	float:right;
	margin-left:100px;
}

input[type="checkbox"] {
    display:inline-block;

    margin:-1px 0px 0px 0;
    vertical-align:middle;

}

input[type="checkbox"] + label span {

}

input[type="radio"] {
    display:inline-block;

    margin:-1px 0px 0px 0;
    vertical-align:middle;

}

input[type="radio"] + label span {

}
#positionBox
{
	padding-left:30px;
	
}
